<footer class="bg-primary fixed-bottom  text-center">
    <div class="container px-4 px-lg-5">
        <p class="m-0 text-center text-white">Eslovenia Fc sitio oficial</p>
    </div>
</footer>

<!---->
<class="footerprin">
      <nav class="redes">
          <ul class="ulredes">

            <!--icono de whatsapp-->
            <div class="divredes">
                <a class="whats" href="https://web.whatsapp.com/">
                  <img  class="iconos" src="Imagenes/whatsapp.png" alt="Whatsapp">
                </a>
            </div>

            <!--icono de Instagram-->
            <div class="divredes">
                <a class="insta" href="https://www.instagram.com/">
                  <img  class="iconos" src="Imagenes/instagram.png" alt="Instagram">
                </a>
            </div>
            

            <!--incono de Twitter-->
            <div class="divredes">
                <a class="twiter" href="https://twitter.com/?lang=es">
                  <img class="iconos" src="Imagenes/Twitter.png" alt="Twitter">
                </a>
            </div>
            
          </ul>

      </nav>
    </footer>