{% extends 'home/base.html' %}

{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <h3 class="d-flex align-items-center">Bienvenido {{ user.username }}
            {% if user.abonado.avatar.url %}
                <img src="{{ user.abonado.avatar.url }}" alt="Avatar" style="height: 30px;" /> 
            {% else %}
                <img src="{% static 'abono/avatares.png' %}" alt="avatar" style="height: 30px;" />
            {% endif %}  
        </h3>
    {% endif %}
    {% if messages %}{{ messages }}{% endif %}
    {% if user.is_staff %}
        <div class="row">
            <a href="{% url 'admin:index' %}" class="btn btn-outline-dark">Administración</a>
        </div>
        <div class="row">
            <a href="{% url 'home:register' %}" class="btn btn-outline-dark">Registrar nuevo abonado</a>
        </div>
    {% endif %}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'home/img/ZSequipo2.jpg' %}" alt="Presentación" />
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Eslovenos Fc</h1>
            <p>
               Eslovenia Fc o Zedinjena Slovenija es un grupo de jovenes eslovenos que juegan un torneo amateur. La comunidad eslovena tiene muchas actividades y una de ellas es el amor por el deporte, nosotros representamos a los eslovenos con nuestro equipo de futbol.
               El primer paso en esa dirección fue la gira de 2001, cuando 31 integrantes de la delegación del equipo de fútbol (24 jugadores y 7 integrantes del grupo técnico) partieron desde el Aeropuerto de Ezeiza en Buenos Aires. El destino del viaje era la República de Eslovenia, donde tenían prevista una gira con varios clubes eslovenos de segunda y tercera liga. Fue uno de los primeros intentos de contacto en el campo del deporte entre las comunidades de emigrantes y la patria. Esto fue posible, en gran medida, gracias al apoyo del entonces presidente de la Asociación de Fútbol de Eslovenia, el Sr. Rudija Zavrlo y el Sr. Matjaž Jakopič. La gira duró dos semanas y el equipo jugó seis partidos. Los resultados deportivos pasaron de un comienzo débil a emocionantes victorias. De los partidos amistosos, podemos destacar el disputado con la selección sub-18 de Eslovenia en el estadio de Šiška. El resultado 0 - 1 atestigua el nivel del equipo de fútbol ZS
            </p>
            <a class="btn btn-info" href="https://svobodnaslovenija.com.ar/20-obletnica-nogometne-ekipe-zedinjena-slovenija-v-argentini/">Pagina oficial ZS </a> <!--te dirigira al whatsapp  de "Eslovenia fc"-->
        </div>
    </div>
{% endblock content %}
